<table class="table">
    <thead>
      <tr>
        <th scope="col">Team 1</th>
        <th scope="col">Team 2</th>
        <th scope="col">Venue</th>
        <th scope="col">Season</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>India</td>
            <td>Pakistan</td>
            <td>Wankhede Stadium,Mumbai</td>
            <td>May 2020</td>

        </tr>
        <tr>
            <td>India</td>
            <td>Afghanistan</td>
            <td>M Chinnaswamy Stadium,Bengaluru</td>
            <td>July 2020</td>

        </tr>
        <tr>
            <td>India</td>
            <td>Australia</td>
            <td>Arun Jaitley Stadium,Delhi</td>
            <td>May 2020</td>

        </tr>
    </tbody>
  </table>